* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #102128;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

hr {
    border: none;
    height: 1px;
    margin: 20px 0;
}